

html {
    padding: 0;
    margin: 0;
    
  }

body {
    padding: 0;
    width: 99%;
    margin: 0;

  }

.back{
    height: 790px;
    width: 101%;
    background-image: url(https://media3.giphy.com/media/doXBzUFJRxpaUbuaqz/giphy.gif);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
   
}
.foto{
    width: 100%;
    display: flex;
    margin: auto;
    justify-content: center;
    padding: 0px;
    height: 250px;
   
}
.about {
    color: white;
    width: 100%;
    padding: 3rem;
    max-width: 2480px;
    margin: auto;
    display: grid;
    text-align: center;
    margin-bottom: 15px;
}

.informacion{
    color: white;
    width: 100%;
    padding: 3rem;
    max-width: 2480px;
    margin: auto;
    display: grid;
    text-align: center;
    margin-bottom: 15px;
}

.tools{
    display: flex;
    margin: 10px;
}
.tools .lenguajes{
    width: 50%;
    text-align: center;
}
.tools .herramientas{
    width: 50%;
    text-align: center;
}
.habilidades .row{
    color: white;
    margin-top: 5rem;
    height: 100px;
    text-align: center;
}
.habilidades .row .col:hover{
    background-color: rgb(238, 233, 218);
   
    border-radius: 5rem;
    color: black;
}


.experience {
    display: row;;
}
.cuadro1{
    display: flex;
    justify-content: center;
}
.contents1{
    color: white;
    margin: 7rem;
}
.cuadro2{
    display: flex;
    justify-content: center;
}
.contents2{
    color: white;
    margin: 7rem;
    
}

.cuadro3{
    display: flex;
    justify-content: center;
}
.contents3{
    color: white;
    margin: 7rem;
}
.cuadro4{
    display: flex;
    justify-content: center;
}
.contents4{
    color: white;
    margin: 7rem;
}
.escom{
    margin-top: 6rem;
    text-align: center;
}
.redes{
    margin-top: 3rem;
    color: white;
    font-size: 1rem;
}
.buttons{
    display: flex;
    gap: 20px;
}
.facebook-btn{
    border: none;
    border-radius: 5px;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 2px;
    cursor: pointer;
}

.facebook-btn:hover{
    opacity: 0.75;
}
.facebook-btn picture{
    width: 35px;
    height: 35px;
    
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.facebook-btn picture img{
    width: 75%;
}
.facebook-btn span{
    
    font-weight: 500;
    padding: 15px;

}

.twitter-btn{
    border: none;
    width: 40px;
    border-radius: 5px;
    cursor: pointer;
}
.twitter-btn:hover{
    background-color: #ddd;
}
.twitter-btn picture{
    width: 29px;
    height: 29px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.twitter-btn picture img{
    width: 75%;
}

.insta-btn{
    border: none;
    width: 40px;
    border-radius: 5px;
    cursor: pointer;
}
.insta-btn:hover{
    background-color: #ddd;
}
.insta-btn picture{
    width: 29px;
    height: 29px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.insta-btn picture img{
    width: 75%;
}

.github-btn{
    border: none;
    width: 40px;
    border-radius: 5px;
    cursor: pointer;
}
.github-btn:hover{
    background-color: #ddd;
}
.github-btn picture{
    width: 29px;
    height: 29px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.github-btn picture img{
    width: 75%;
}